#head,#foot{
    background-color:#fdbd31;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
}
#title,#title-sub{
    text-align: center;
    color: white;
}
#foot{
     margin-top: 5%;
}
#head{
    margin-bottom: 5%;
}
.foot-text{
    color: white;
}
#title-sub{
    font-size: 10px;
    color:gainsboro
}
body{
    background-color: black;
}
#foot-flex{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    width: 20%;
    margin-left: 5%;
}
#body{
    width: 60%;
    margin: 0 auto;
}
