#head,#foot{
    background-color:#fdbd31;
    border-radius: 10px;
    width: 30%;
    margin: 0 auto;
}
#title,#title-sub{
    text-align: center;
    color: white;
}
#foot{
    margin-top: 35%;
}
.foot-text{
    color: white;
}
#title-sub{
    font-size: 10px;
    color:rgba(128,128,128,0.5)
}